{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <title>Document</title>
</head>
<body>
    {% if form_type == "login" %}
        <form method="post" action="">
            {% csrf_token %}
            <label for="id_phone">Số điện thoại: </label>
            <input type="number" name="phone" required id="id_phone"><br>

            <label for="id_password">Mật khẩu: </label>
            <input type="password" name="password" maxlength="50" id="id_password"><br>
            
            <button type="submit">Đăng nhập</button>
        </form>
    {% endif %}

    {% if form_type == "signup" %}
        <form method="post" action="">
            {% csrf_token %}
            <label for="id_phone">Số điện thoại: </label>
            <input type="number" name="phone" required id="id_phone"><br>

            <label for="id_password">Mật khẩu: </label>
            <input type="password" name="password" maxlength="50" id="id_password"><br>

            <label for="id_confirm_password">Nhập lại mật khẩu: </label>
            <input type="password" name="confirm_password" maxlength="50" id="id_confirm_password"><br>

            <label for="id_full_name">Họ tên đầy đủ: </label>
            <input type="text" name="full_name" maxlength="100" id="id_full_name"><br>

            <label for="id_address">Địa chỉ: </label>
            <input type="text" name="address" maxlength="500" id="id_address"><br>

            <label for="id_email">Email: </label>
            <input type="email" name="email" id="id_email"><br>

            <button type="submit">Đăng ký</button>
        </form>
    {% endif %}

</body>
</html>

