{% extends "base.html" %}
{% load static %}

    {% block title %}
    <title>{{motorbike.model}}</title>
    {% endblock title %}

    {% block content %}

        <!-- Start: Banner image section -->
        <div class="banner-container">
            <img src="{{motorbike.banner_image.url}}" style="width: 100%;" class="banner-img">
        </div>
        <!-- End: Banner image section -->

        <div class="gap-element"></div>

        <!-- Start: Main product session -->
        <div class="main-product-container wrapper flex">
            <div class="product-image">
                <img src="{{motorbike.image.url}}" alt="product image">
            </div>

            <div class="product-option">
                <div class="gap-element"></div>
                <div class="product-name">
                    <h1>{{motorbike.model}}</h1>
                </div>

                {% for option in options %}
                <div class="option-container">
                    <div class="color-group">
                        <p>{{ option.value }}</p>
                    </div>

                    <div class="color-item-container grid">
                    {% for sku in skus %}
                        {% if sku.option == option %}
                        <div class="color-container flex">
                            <div class="color-item flex" onclick="changeBorder(this)" data-src="{{sku.sku_image.url}}" data-price="{{sku.price}}" sku-id="{{sku.sku_id}}">
                                {% if sku.color.color_1 %}
                                <div class="color-cell" style="background-color: {{sku.color.color_1}};"></div>
                                {% endif %}

                                {% if sku.color.color_2 %}
                                <div class="color-cell" style="background-color: {{sku.color.color_2}};"></div>
                                {% endif %}

                                {% if sku.color.color_3 %}
                                <div class="color-cell" style="background-color: {{sku.color.color_3}};"></div>
                                {% endif %}
                            </div>
                            <p class="color-label">{{sku.color.value}}</p>
                        </div>
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
                {% endfor %}

                <div class="product-detail-price">
                    <div class="price-item">
                        <span class="price-label">Giá bán: </span>
                        <span class="price-value">{{motorbike.motor_cost}}</span>
                    </div>
                </div>

                <div id="add-to-cart-btn" class="add-to-cart-btn" onclick="addToCart()">
                        <span id="add-to-cart-id" class="add-to-cart" sku-id="">Thêm vào giỏ hàng</span>
                </div>


            </div>
        </div>
        <!-- End: Main product session -->

        <!-- Start: product infomation section -->

        <div class="product-info-container wrapper flex">

            <!-- Start: product feature section -->

            <div class="product-feature">

                <div class="product-design">
                    <div class="feature-banner">
                        <p>thiết kế</p>
                    </div>

                    <div class="feature-image-container">
                    {% for feature in motor_features %}
                        {% if feature.feature.feature_type == "design" %}
                        <div class="image-container">
                            <img src="{{feature.image.url}}" alt="" class="feature-image">
                            <p class="feature-detail">{{feature.description}}</p>
                        </div>
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>

                <div class="product-engine">
                    <div class="feature-banner">
                        <p>động cơ - công nghệ</p>
                    </div>

                    <div class="feature-image-container">
                        {% for feature in motor_features %}
                            {% if feature.feature.feature_type == "engine_technology" %}
                            <div class="image-container">
                                <img src="{{feature.image.url}}" alt="" class="feature-image">
                                <p class="feature-detail">{{feature.description}}</p>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <div class="product-safety">
                    <div class="feature-banner">
                        <p>tiện ích - an toàn</p>
                    </div>

                    <div class="feature-image-container">
                        {% for feature in motor_features %}
                            {% if feature.feature.feature_type == "utilities_safety" %}
                            <div class="image-container">
                                <img src="{{feature.image.url}}" alt="" class="feature-image">
                                <p class="feature-detail">{{feature.description}}</p>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

            </div>

            <!-- End: product feature section -->

            <!-- Star: product spec section -->

            <div class="product-spec">
                <div class="product-spec-header flex">
                    <b></b>
                    <h2>thông số xe</h2>
                    <b></b>
                </div>

                <div class="spec-table">
                    <table>
                        {% for key, value in motor_specs.items %}
                        <tr>
                            <td class="spec-label">{{key}}</td>
                            <td class="spec-value">
                                {{value|safe}}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>

            <!-- End: product spec section -->

        </div>

        <!-- End: product infomation section -->




        {% include "includes/service.html" %}
    {% endblock content %}




    {% block script %}
    <script src="{% static "scripts/product.js" %}"></script>
    {% endblock script %}