{% load static %}
<div class="service-section">
    <div class="gap-element"></div>

    <div class="service-section-wrraper wrapper">

        <div class="service-wrapper wrapper">
            <div class="section-title-container no-padding">
                <h1 class="section-title">
                    <b></b>
                    <span class="section-title-main">
                        KHÁM PHÁ DỊCH VỤ TUẤN MẠNH
                    </span>
                    <b></b>
                </h1>
            </div>

            <div class="service-container grid">
                <div class="service-item flex">
                    <div class="service-image .flex-inline-block">
                        <img src="{% static "imgs/services/baohiem.jpg" %}" alt="">
                    </div>
                    <div class="service-content .flex-inline-block">
                        <div class="service-title-container">
                            <span class="service-title">chất lượng sản phẩm</span>
                        </div>
                        <div class="service-description-container">
                            <p class="service-description">
                                Tuấn Mạnh là đại lý chính thức của các hãng xe máy nổi tiếng như Honda, Yamaha, Suzuki, SYM,...với nhiều mẫu mã, dòng xe phong phú
                            </p>
                        </div>
                    </div>
                </div>

                <div class="service-item flex">
                    <div class="service-image">
                        <img src="{% static "imgs/services/baohiem.jpg" %}" alt="">
                    </div>
                    <div class="service-content">
                        <div class="service-title-container">
                            <span class="service-title">dịch vụ khách hàng</span>
                        </div>
                        <div class="service-description-container">
                            <p class="service-description">
                                Đội ngũ nhân viên tư vấn, bán hàng và kỹ thuật của Tuấn Mạnh luôn nhiệt tình mang đến sự hài lòng và tin tưởng cho khách hàng.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="service-item flex">
                    <div class="service-image">
                        <img src="{% static "imgs/services/phutung.jpg" %}" alt="">
                    </div>
                    <div class="service-content">
                        <div class="service-title-container">
                            <span class="service-title">phụ tùng & phụ kiện</span>
                        </div>
                        <div class="service-description-container">
                            <p class="service-description">
                                Phụ tùng và phụ kiện chính hãng. Luôn đảm bảo chất lượng sản phẩm.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="service-item flex">
                    <div class="service-image">
                        <img src="{% static "imgs/services/dichvu.jpg" %}" alt="">
                    </div>
                    <div class="service-content">
                        <div class="service-title-container">
                            <span class="service-title">dịch vụ bảo hành và bảo dưỡng</span>
                        </div>
                        <div class="service-description-container">
                            <p class="service-description">
                                Chương trình bảo hành, bảo dưỡng chuyên nghiệp
                            </p>
                        </div>
                    </div>
                </div>

                <div class="service-item flex">
                    <div class="service-image">
                        <img src="{% static "imgs/services/phutung.jpg" %}" alt="">
                    </div>
                    <div class="service-content">
                        <div class="service-title-container">
                            <span class="service-title">cứu hộ miễn phí trong 1 năm</span>
                        </div>
                        <div class="service-description-container">
                            <p class="service-description">
                                An tâm khi di chuyển với Hotline cứu hộ 1900.1xxx
                            </p>
                        </div>
                    </div>
                </div>

                <div class="service-item flex">
                    <div class="service-image">
                        <img src="{% static "imgs/services/baohiem.jpg" %}" alt="">
                    </div>
                    <div class="service-content">
                        <div class="service-title-container">
                            <span class="service-title">hỗ trợ mất cắp</span>
                        </div>
                        <div class="service-description-container">
                            <p class="service-description">
                                Hỗ trợ khách hàng 50% giá trị xe (không quá 25.000.000 vnd) nếu khách hàng mất xe trong năm đầu tiên
                            </p>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </div>

</div>