{% load static %}
<div class="slider">
    <!-- Slider main container -->
<div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
    <!-- Slides -->
        <div class="swiper-slide"><img src="{% static "imgs/slider/winner-cbr.png" %}" alt=""></div>
        <div class="swiper-slide"><img src="{% static "imgs/slider/air-blade.jpg" %}" alt=""></div>
        <div class="swiper-slide"><img src="{% static "imgs/slider/vario.jpg" %}" alt=""></div>
        <div class="swiper-slide"><img src="{% static "imgs/slider/sh.jpg" %}" alt=""></div>
        <div class="swiper-slide"><img src="{% static "imgs/slider/lead.jpg" %}" alt=""></div>
        <div class="swiper-slide"><img src="{% static "imgs/slider/cbr.jpg" %}" alt=""></div>
        <div class="swiper-slide"><img src="{% static "imgs/slider/blade.jpg" %}" alt=""></div>

    </div>

    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

</div>

</div>